".text.html":
  "Array selector":
    "prefix": "arrsel"
    "body": """
    <array-selector id="${1:selector}"
    	items="{{${2:array}}}" selected="{{${3:selected}}}"
    	${4:multi} ${5:toggle}>
    </array-selector>
    $0
    """
