".text.html":
  "core dropdown":
    "prefix": "core-dropdown"
    "body": """
    <core-dropdown relatedTarget="{{\$.${1:trigger}}}">
      <core-menu>
        <core-item>Cut</core-item>
        <core-item>Copy</core-item>
        <core-item>Paste</core-item>
      </core-menu>
    </core-dropdown>
    """
