".text.html":
  "core animation group":
    "prefix": "core-animation-group"
    "body": """
    <core-animation-group type="${1:seq}">
      <core-animation id="${2:fadeout}" duration="${3:500}">
        <core-animation-keyframe>
          <core-animation-prop name="${4:opacity}" value="${5:1}"></core-animation-prop>
        </core-animation-keyframe>
        <core-animation-keyframe>
          <core-animation-prop name="${4:opacity}" value="${6:0}"></core-animation-prop>
        </core-animation-keyframe>
      </core-animation>
    </core-animation-group>
    """
