".text.html":
  "core ajax":
    "prefix": "core-ajax"
    "body": """
    <core-ajax
      ${1:auto}
      url="${2}"
      handleAs="${3:json}"
      on-core-response="{{${4:handleResponse}}}"></core-ajax>
    """
