".text.html":
  "core scroll header panel":
    "prefix": "core-scroll-header-panel"
    "body": """
    <core-scroll-header-panel ${1:condenses} flex>
      <core-toolbar>
        <div>${2:My App}</div>
      </core-toolbar>
      <div>${3:Page content}</div>
    </core-scroll-header-panel>
    """
