".text.html":
  "core list":
    "prefix": "core-list"
    "body": """
    <core-list data="{{${1:data}}}" flex>
      <template>
        <div class="row" layout horizontal center>
          <div>{{${0:model.name}}}</div>
        </div>
      </template>
    </core-list>
    """
