".text.html":
  "core animation":
    "prefix": "core-animation"
    "body": """
    <core-animation id="${1:fadeout}" duration="${2:500}">
      <core-animation-keyframe>
        <core-animation-prop name="${3:opacity}" value="${4:1}"></core-animation-prop>
      </core-animation-keyframe>
      <core-animation-keyframe>
        <core-animation-prop name="${3:opacity}" value="${5:0}"></core-animation-prop>
      </core-animation-keyframe>
    </core-animation>
    """
