".text.html":
  "core menu":
    "prefix": "core-menu"
    "body": """
    <core-menu selected="${1:0}">
      <core-item label="$2"></core-item>
      <core-item label="$3"></core-item>
      <core-item label="$4"></core-item>
    </core-menu>
    """
