# These null out the snippets so the snippets are not available when in a tag or
# in embedded contexts like <script> and <style>
# This also nulls out snippets when editing attributes of a <tag>
".text.html .embedded, .text.html .meta.tag":
  "dom-if":
    "prefix": "dom-if"
  "dom-repeat":
    "prefix": "dom-repeat"
  "import iron-element":
    "prefix": "hii"
  "import paper-element":
    "prefix": "hip"
  "html import":
    "prefix": "hi"
  "Polymer page template":
    "prefix": "ph"
  "iron a11y keys":
    "prefix": "iron-a11y-keys"
  "iron ajax":
    "prefix": "iron-ajax"
  "iron autogrow textarea":
    "prefix": "iron-autogrow-textarea"
  "iron collapse":
    "prefix": "iron-collapse"
  "iron doc viewer":
    "prefix": "iron-doc-viewer"
  "iron form":
    "prefix": "iron-form"
  "iron icon":
    "prefix": "iron-icon"
  "iron iconset svg":
    "prefix": "iron-iconset-svg"
  "iron iconset":
    "prefix": "iron-iconset"
  "iron image":
    "prefix": "iron-image"
  "iron input":
    "prefix": "iron-input"
  "iron localstorage":
    "prefix": "iron-localstorage"
  "iron media query":
    "prefix": "iron-media-query"
  "iron meta":
    "prefix": "iron-meta"
  "iron pages":
    "prefix": "iron-pages"
  "iron selector":
    "prefix": "iron-selector"
  "paper autogrow textarea":
    "prefix": "paper-autogrow-textarea"
  "paper button":
    "prefix": "paper-button"
  "paper checkbox":
    "prefix": "paper-checkbox"
  "paper dialog scrollable":
    "prefix": "paper-dialog"
  "paper dialog":
    "prefix": "paper-dialog"
  "paper drawer panel":
    "prefix": "paper-drawer-panel"
  "paper fab":
    "prefix": "paper-fab"
  "paper header panel":
    "prefix": "paper-header-panel"
  "paper icon button":
    "prefix": "paper-icon-button"
  "paper input":
    "prefix": "paper-input"
  "paper item":
    "prefix": "paper-item"
  "paper material":
    "prefix": "paper-material"
  "paper menu":
    "prefix": "paper-menu"
  "paper progress":
    "prefix": "paper-progress"
  "paper radio button":
    "prefix": "paper-radio-button"
  "paper radio group":
    "prefix": "paper-radio-group"
  "paper ripple":
    "prefix": "paper-ripple"
  "paper scroll header panel":
    "prefix": "paper-scroll-header-panel"
  "paper slider":
    "prefix": "paper-slider"
  "paper spinner":
    "prefix": "paper-spinner"
  "paper tab":
    "prefix": "paper-tab"
  "paper tabs":
    "prefix": "paper-tabs"
  "paper toast":
    "prefix": "paper-toast"
  "paper toggle button":
    "prefix": "paper-toggle-button"
  "paper toolbar":
    "prefix": "paper-toolbar"
  "polymer element, external styles":
    "prefix": "pes"
  "polymer element":
    "prefix": "pe"
  "template":
    "prefix": "template"
  "web components polyfill":
    "prefix": "webcomponents"
  "web components polyfill supported":
    "prefix": "wcs"
  'paper card':
    'prefix': 'paper-card'
  'app route':
    'prefix': 'app-route'
  'app location':
    'prefix': 'app-location'
  'polymer custom-style':
    'prefix': 'pcs'
  'polymer custom style template':
    'prefix': 'pcst'
  'polymer element es2015':
    'prefix': 'pe2015'
  'polymer element full strict':
    'prefix': 'pefs'
  'polymer template pag wcs':
    'prefix': 'phs'
  'iron jsonp library':
    'prefix': 'iron-jsonp-library'
  'import':
    'prefix': 'import'
  'test tdd':
    'prefix': 'tdd-test'
    'array selector':
      'prefix': 'arrsel'
    'test dbb':
      'prefix': 'dbb-test'
  'template dom bind':
    'prefix': 'domb'
  'element for firebase authentication api':
    'prefix': 'fba'
  'favicon':
    'prefix': 'favicon'
  'firebase collection':
    'prefix': 'fbc'
  'firebase document':
    'prefix': 'fbd'
  'heading group':
    'prefix': 'hdc'
  'polymer behavior':
    'prefix': 'pb'
  'polymer behavior implement':
    'prefix': 'pbi'
  'google-analytics-chart':
    'prefix': 'gac'
  'google-analytics-dashboard':
    'prefix': 'gad'
  'google-analytics-date-selector':
    'prefix': 'gads'
  'google-analytics-query':
    'prefix': 'gaq'
  'google-analytics-view-selector':
    'prefix': 'gavs'
  'google-js-api':
    'prefix': 'gapi'
  'google-calandar-busy-now':
    'prefix': 'gcbn'
  'google-chart':
    'prefix': 'gch'
  'google-client-loader':
    'prefix': 'gcl'
  'google-caststable-video':
    'prefix': 'gcv'
  'google-feeds':
    'prefix': 'gfe'
  'google-hangouts-buton':
    'prefix': 'gcp'
  'google-map':
    'prefix': 'gma'
  'google-map-directions':
    'prefix': 'gmd'
  'google-maps-api':
    'prefix': 'gmaapi'
  'google-map-marker':
    'prefix': 'gmm'
  'google-map-search':
    'prefix': 'gms'
