".text.html":
  "google-map-marker":
    "prefix": "gmm"
    "body": """
    <google-map-marker
      latitude="${1:37.779}"
      longitude="${2:-122.3892}"
      title="${3:Go Giants!}"
      info="${4:Some info...}"
      icon="${5:imageUrl}"
      draggable="${6:true}">
    </google-map-marker>
    $0
    """
