".text.html":
  "google-sheets":
    "prefix": "gsh"
    "body": """
    <google-sheets
      client-id="${1:clientId}"
      spreadsheets="{{${2:spreadsheets}}}"
      ${3:key="sheetKey"}
      ${4:tab-id="1"}
      ${5:published}>
    </google-sheets>
    $0
    """
