".text.html":
  "google-calendar-busy-now":
    "prefix": "gcbn"
    "body": """
    <google-calendar-busy-now
      api-key="${1:apiKey}"
      calendar-id="${2:calendarId}"
      busy-label="${3:Do not disturb}"
      free-label="${4:I'm free, talk to me!}">
    </google-calendar-busy-now>
    $0
    """
