".text.html":
  "google-analytics-query":
    "prefix": "gaq"
    "body": """
    <google-analytics-query
      ids="ga:${1:ids}"
      data="{{${2:data}}}"
      metrics="ga:${3:sessions}"
      dimensions="ga:${4:country}"
      sort="-ga:${5:sessions}"
      max-results="${6:5}"
      output="${7:json}"
      loading="{{${8:loading}}}">
    </google-analytics-query>
    $0
    """
