".text.html":
  "google-analytics-view-selector":
    "prefix": "gavs"
    "body": """
    <google-analytics-view-selector
      account="{{${1:account}}}"
      metrics="ga:${2:sessions}"
      dimensions="ga:${3:date}">
    </google-analytics-view-selector>
    $0
    """
