".text.html":
  "iron iconset":
    "prefix": "iron-iconset"
    "body": """
    <iron-iconset name="${1:my-icons}" src="${2:my-icons.png}" width="${3:96}" size="${4:24}"
        icons="${5:location place starta stopb bus car train walk}">
    </iron-iconset>
    """
