".text.html":
  "iron media query":
    "prefix": "iron-media-query"
    "body": """
    <iron-media-query query="${1:min-width: 640px}" queryMatches="{{${2:largeScreen}}}">
    </iron-media-query>
    """
