".text.html":
  "paper tabs":
    "prefix": "paper-tabs"
    "body": """
    <paper-tabs selected="${1:0}">
      <paper-tab>${2:TAB 1}</paper-tab>
      <paper-tab>${3:TAB 2}</paper-tab>
      <paper-tab>${4:TAB 3}</paper-tab>
    </paper-tabs>
    """
