".text.html":
  "paper dropdown menu":
    "prefix": "paper-dropdown-menu"
    "body": """
    <paper-dropdown-menu label="${1:Your favorite pastry}">
      <paper-dropdown class="${2:dropdown}">
        <core-menu class="${3:menu}">
          $0
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
    """
