".text.html":
  "paper dialog scrollable":
    "prefix": "paper-dialog"
    "body": """
    <paper-dialog>
      <h2>${1:Dialog Title}</h2>
      <paper-dialog-scrollable>
        $0
      </paper-dialog-scrollable>
    </paper-dialog>
    """
