".text.html":
  "polymer element":
    "prefix": "pes"
    "body": """
    <polymer-element name="$2" attributes="$3">
      <template>
		    <link rel="stylesheet" href="$2.css">$4
	    </template>
	    <script>
		    Polymer({
			    $5
		    });
	    </script>
    </polymer-element>
    """
