".text.html":
  "polymer element noscript":
    "prefix": "pen"
    "body": """
    ${1:<link rel="import" href="../polymer/polymer.html">}
    <polymer-element name="$2" noscript attributes="$3">
    	<template>
    		<style>
    			:host {
    				display: block;
    			}
    		</style>$4
    	</template>
    </polymer-element>
    """
