".text.html":
  "polymer behavior":
    "prefix": "pb"
    "body": """
    <!DOCTYPE html>

    <link rel="import" href="../../bower_components/polymer/polymer.html">

    <script>
      /**
       * $3 
       * @polymerBehavior
       */
      $2Behavior = {
        properties: {
          $3
        }
      };
    </script>
    """
