".text.html":
  "polymer element":
    "prefix": "pe"
    "body": """
    <dom-module id="$1">
      <style>
        :host {
          display: block;
        }
      </style>
      <template>
        $2
      </template>
      <script>
        Polymer({
          is: '$1'
        });
      </script>
    </dom-module>
    """
