".text.html":
  "load web components polyfill when not supported":
    "prefix": "wcs"
    "body": """
    // Load Web Components when not supported
    var webComponentsSupported = ('registerElement' in document
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template'));

    if (!webComponentsSupported) {
      var script = document.createElement('script');
      script.src = '${0:bower_components}/webcomponentsjs/webcomponents-lite.js';
      document.head.appendChild(script);
    }
    """
